{% load cart_tags %}
{% load i18n %}

    <script src="/static/scripts/cart/cart.js"></script>
    {% if carts %}
        {% for shop in carts %}
            <span class="seller-cart">{% trans "Продавец:" %}&nbsp;
                <a href="{% url send_message shop.user.username %}" class="send-msg-seller" title="{% trans "Написать сообщение продавцу" %}"><i class="icon-envelope icon-white"></i></a>
                <a href="http://{{ shop.user.get_profile.shop }}.ywaga.com">
                {% autoescape off %}
                {{ shop.user.get_profile.shop }}
                {% endautoescape %}
                </a>
            </span>
            <div class="cont">
                <table class="table table-condensed">
                    <thead>
                        <th>Имя</th>
                        <th>Телефон</th>
                        <th>Skype</th> 
                        <th>Дата регистрации</th>   
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ shop.user.get_profile.name }}</td>
                            <td>{{ shop.user.get_profile.phone }}</td>
                            <td>{{ shop.user.get_profile.skype }}</td>
                            <td>{{ shop.user.date_joined|date:"d.m.y"}}</td>                         
                        </tr>                        
                    </tbody>
                </table>
                
            </div>
            <table class="table table-striped table-condensed cart-table">
                <thead>
                <tr>
                    <th><span class="label">{% trans "Фото" %}</span></th>
                    <th><span class="label">{% trans "Название" %}</span></th>
                    <th><span class="label">{% trans "Цена товара" %}</span></th>
                    <th><span class="label">{% trans "Кол-во" %}</span></th>
                    <th><span class="label">{% trans "Доставка" %}</span></th>
                    <th><span class="label">{% trans "Сумма" %}</span></th>
                    <th><span class="label">{% trans "Инфо" %}</span></th>
                    <th class="td-del"><span class="label">{% trans "Действие" %}</span></th>
                </tr>
                </thead>
                <tbody>
                {% for item in shop.carts.all %}
                    <tr>
                        <td><a href="{% url product item.product.id %}" class="item_pic"><img style="width: 68px;" src="/media/{{ item.product.small_picture }}"></a></td>
                        <td><a href="{% url product item.product.id %}"> {{ item.product.name }}</a></td>
                        <td>{{ item.price }} грн.
                        </td>
                        <td>
                            <input type="text" class="quantity" rel="{{ item.id }}" rev="{{ shop.user }}" value="{{ item.quantity }}" maxlength="4">
                        </td>
                        <td>{{ item.delivery }}</td>
                        <td>
                            <span id="full_price_{{ item.id }}"> {{ item.full_price }} </span> грн.
                        </td>
                        <td>
                            {% if item.color.color %}
                            {% trans "Цвет" %}: {{ item.color.color|colorTrans:LANGUAGE_CODE }} <br>
                            {% endif %}
                            {% if item.size %}
                            {% trans "Размер" %}: {{ item.size.size }} <br>
                            {% endif %}
                            {% if item.type.name %}
                            {% trans "Тип" %}:{{ item.type.name }}<br>
                            {% endif %}
                        </td>
                        <td class="td-del"> 
                            <a class='confirm' rel="{% trans "Вы действительно хотите удалить данный товар?" %}" href="{% url delete_cart item.id  %}" title="{% trans "Удалить" %}"><span class="label label-important"><i class="icon-trash icon-white"></i></span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <span class="order-current-shop">{% trans "Сумма заказа в данном магазине:" %}
                <span id="shop_name_{{ shop.user }}"> {{ shop.price }} грн.</span>
            </span>

            <br>
        {% endfor %}
        <p class="summ-cart">{% trans "Общая сумма заказа:" %} <span id="sum">{{ full_price }} грн.</span></p>
        <h4 class="adress-del">{% trans "Выберите адрес доставки либо укажите новый" %}</h4>

        <form method="POST" action="."> {% csrf_token %}
            
                {% if not user.is_authenticated %}
                    <div class="regpl">
                        <div class="regor">
                            <div class="lform">
                                <h3 class="lfh">{% trans "У меня уже есть логин:" %}</h3>
                                {{ lForm }}
                            </div>
                            <p class="or2">ИЛИ</p>
                            <div class="rform">
                                <h3 class="rfh">{% trans "Хочу зарегестрироваться:" %}</h3>
                                {{ rForm }}
                            </div>
                        </div>
                        <div class="orarr">
                            <span class="toparr">
                                &#10151;    
                            </span>
                            <span class="botarr">
                                &#10151;    
                            </span>
                        </div>
                    </div>
                {% endif %}            

     
                
            


            {% for address in user.get_profile.addresses.all %}
            <div class="well-new addrr">
                    <input type="radio"  id='addresss' value="address_{{ address.id }}" name="address">
                    <b>{% trans "Ваш адрес:" %}</b><br><br>
                    <b>{% trans "Страна:" %} </b>{{ address.country }}<br><br>
                    <b>{% trans "Регион:" %} </b>{{ address.region }}<br><br>
                    <b>{% trans "Город:" %} </b>{{ address.city }}<br><br>
                    <b>{% trans "Улица:" %} </b>{{ address.street }}<br><br>
                    <b>{% trans "Индекс:" %} </b>{{ address.zip_code }}<br><br>
                    <a class="confirm" rev="{% trans "Удаление адреса" %}" rel="{% trans 'Вы действительно хотите удалить данный адрес ?' %}" style="float: right;" href="{% url delete_address address.id %}">{% trans "Удалить" %}</a>
                    <br>
                    <div class="clear"></div>
                    <button class="btn btn-warning btn-large zakaz-button" title="После нажатия на эту кнопку продавец будет оповещен о вашем желании сделать заказ" data-placement='bottom'>{% trans "Заказать" %}</button>
            </div>
            {% endfor %}
            <div class="well-new addrr">
                {% if user.get_profile.addresses.all %}
                    <input id="addresss" type="radio" value="new" name="address">
                    <b>Новый адрес:</b>
                {% endif %}
                <br><br>
                {{ addressForm }}
                <div class="clear"></div>
                <button class="btn btn-warning btn-large zakaz-button" title="После нажатия на эту кнопку продавец будет оповещен о вашем желании сделать заказ" data-placement='bottom'>{% trans "Заказать" %}</button>
            </div>
        </form>
    {% else %}
        {% trans "В вашей корзине товаров нет." %}
        <span class="sadsmile">:(</span>
    {% endif %}

<!-- Stupid script for first item-block -->
<script>
    $('.seller-cart').first().css('margin', '0');
    $('.zakaz-button').tooltip();
</script>

<!-- Dynamicly changed addresses -->
<script>
    $(function() {
        $('.addrr:first #addresss').attr('checked', 'checked');
        $('.addrr:first').addClass('addrr-clicked');
        $('.addrr').on('click', function() {
            var $this = $(this);
            $this.siblings().removeClass('addrr-clicked');
            $this.addClass('addrr-clicked');
            $this.find('#addresss').attr('checked', 'checked');
        });
    });
</script>