<script>
$(function() {
	$( "#ChangePasButton").click(function() {			
		$("#changePas").load("/accounts/password/change/",{'old_password':$(passwordForm.old_password).val(), 'new_password1':$(passwordForm.new_password1).val(),'new_password2':$(passwordForm.new_password2).val()},
		function(x) {
			if (x=="complete") {				
				$("#changePas").load("/accounts/password/change/");			
				showMessage("complete");
			}
		});		
	});
});
</script>

<table style="font-family:arial;font-size:12px;float:right;margin-top:50px;">
<tr><td colspan="2"style="font-family:arial;font-size:20px;"><img src="/static/img/wuxing.gif">&nbsp;Change Your Password</td></tr>
<form name="passwordForm" method="POST" action="/accounts/password/change/">
{{form.non_field_errors}}
<tr height="27px"><td align="right">Old password:</td><td><input type="password" name="old_password" id="id_old_password"></td><td>{{form.old_password.errors}}</td></tr>
<tr height="27px"><td align="right">New password:</td><td><input type="password" name="new_password1" id="id_new_password1"></td><td>{{form.new_password1.errors}}</td></tr>
<tr height="27px"><td align="right">Confirm New password:</td><td><input type="password" name="new_password2" id="id_new_password2"></td><td>{{form.new_password2.errors}}</td></tr>
<tr height="27px"><td align="right"colspan="2">
	<a href="#" id="ChangePasButton">
	<input type=submit value="Reset" style="width:90px;height:27px;margin-right:2px;" style="margin-right:3px;"></a></td></tr>
</form>
</table>




