<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <title>Ywaga.com - Страница не найдена.</title>
		<style type="text/css">
			.error_page {
				padding: 20px;
			}
			.error_page h1 {
				color: #A09F9D;
			}
			.error_page h1 span {
				color: #9EC54D;
				font-size: 82px;
			}
			.error_page a {
				display: inline-block;
				*display: inline;
				zoom: 1;
				color: #fff;
				background: #9EC54D;
				text-decoration: none;
				padding: 4px;
			}
			
		</style>	
	</head>
	<body>
		<div class="error_page">
			<h1>Ошибка <span>500</span> :(</h1>
			<p>
				Ой! Сервер не отвечает либо что-то пошло не так. Мы уже занимаемся этим. Попробуйте обновить страницу через несколько минут.
			</p>
			<a href="\">Перейти на главную страницу ywaga.com</a>
		</div>	
	</body>
</html>